<div class="card-group">
    <div class="card">
      <img class="card-img-top" src="../../assets/img/home/mac.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">mac</h5>
        <p class="card-text">Un petit mac simpatoche </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/img/home/asus.jpg"  alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Asus Zenbook</h5>
        <p class="card-text">un asus coco</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/img/home/hp.jpg" width="238.5" height="238.5" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">hp</h5>
        <p class="card-text">Le hp barlo</p>
      </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../../assets/img/home/msi.jpg"  alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">MSI</h5>
          <p class="card-text">texta linga msi</p>
        </div>
      </div>
  </div>
